<!-- 新增的导演浏览界面 cx 20240613 -->
<!-- 参考user/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- <div class="col-md-8 content-left"> -->

<div class="col-md-8 content-left" style="width: 100%;">

    <!-- cx 0623 新增搜索 -->
    <div class="albums">
        <div class="categories">
            <div class="categories-left">
                <h1>演员信息</h1>
            </div>
            <div class="categories-right">
                <form action="/actor_search/" method="post">
                    {% csrf_token %}
                    <input type="text" required name="search" placeholder="输入搜索关键字(演员姓名/国籍)">
                    <input type="submit" value="   搜 索   "/>
                </form>
            </div>
        </div>
    </div>

    <!-- cx0622修改了前端，支持两列显示，增加了一些空格 -->
    {% for actor in actors %}
        <div class="artical">
            <div class="artical-head">
                <h2>&nbsp;&nbsp;<a href="{% url 'actor' actor.id %}">{{ actor.name }}</a></h2>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="artical-info">
                <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;性别:</strong> {{ actor.gender }}</p>
                <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;出生日期:</strong> {{ actor.birthday }}</p>
                <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;国籍:</strong>{{ actor.nationality }}</p>
            </div>
        </div>
    {% endfor %}

    <!-- sjy0621新增 -->
    <div class="clearfix"></div>
    
    <!-- pagenate -->
    <div class="pagenate">
        <ul>
            {% for l in actors.paginator.page_range %}
                {% if l <= actors.number|add:5 and l >= actors.number|add:-5 %}
                    {% if actors.number == l %}
                        <li class="page-active"><span>{{ l }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if actors.has_next %}
                <li class="next"><a href="?page={{ actors.next_page_number }}">Next Page</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- pagenate -->

</div>

{% endblock %}