<!-- 首页 -->
<!DOCTYPE HTML>
<html lang="zh">
{% load static %}
<head>
    <title>电影数据库</title>
    <link href="{% static 'css/bootstrap.css' %} " rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/owl.carousel.css' %} " rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/style.css' %} " rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {#    <link href="{% static 'js/style.css' %} " rel='stylesheet' type='text/css' />#}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block css %}
    {% endblock %}
</head>
<body>
    
<div class="header">
    <div class="container">
        <!-- 顶部导航栏 -->
        <div class="top-nav">
            <span class="menu">
</span>
            <ul>
                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                <li><a href="{% url 'all_tags' %}">标签信息 </a></li>
                <li><a href="{% url 'all_directors' %}">导演信息 </a></li>
                <li><a href="{% url 'all_actors' %}">演员信息 </a></li>
                <li><a href="{% url 'all_companies' %}">公司信息 </a></li>
                <li><a href="/admin">后台管理</a></li>
                {% if request.session.login_in == True %}
                    <li><a href="{% url 'personal' %}">{{ request.session.name }}</a></li>
                    <li><a href="{% url 'logout' %}">退出</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">登录</a></li>
                    <li><a href="{% url 'register' %}">注册</a></li>
                {% endif %}
                <div class="clearfix">
                </div>
            </ul>
        </div>
        <div class="clearfix">
            <h2><a href="/">电影数据库</a></h2>

        </div>
    </div>
</div>

<!-- “排序”栏 -->
{% block cate %}
{% endblock %}

<!-- 电影概览 -->
<div class="content">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<!-- 获取用户收藏/打分/评论 -->
{% block js %}
{% endblock %}