<!-- 新增的导演浏览界面 cx 20240613 -->
<!-- 参考user/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- 本来user/templates/index.html有一段添加图像的内容，搜索关键词 movie.image_link -->
     
<div class="col-md-12 content-left">

    <!-- cx 0623 新增搜索 -->
    <div class="albums">
        <div class="categories">
            <div class="categories-left">
                <h1>导演信息</h1>
            </div>
            <div class="categories-right">
                <form action="/director_search/" method="post">
                    {% csrf_token %}
                    <input type="text" required name="search" placeholder="输入搜索关键字(导演姓名/国籍)">
                    <input type="submit" value="   搜 索   "/>
                </form>
            </div>
        </div>
    </div>

    <!-- cx0622修改了前端，支持两列显示，增加了一些空格 -->
    {% for director in directors %}
        <div class="artical">
            <div class="artical-head">
                <h2>&nbsp;&nbsp;<a href="{% url 'director' director.id %}">{{ director.name }}</a></h2>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="artical-info">
                <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;性别:</strong> {{ director.gender }}</p>
                <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;出生日期:</strong> {{ director.birthday }}</p>
                <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;国籍:</strong>{{ director.nationality }}</p>
            </div>
        </div>
    {% endfor %}
        
    <!-- 参照sjy0621新增内容 -->
    <div class="clearfix"></div>
    <!-- pagenate -->
    <div class="pagenate">
        <ul>
            {% for l in  directors.paginator.page_range %}
                {% if l <= directors.number|add:5 and l >= directors.number|add:-5 %}
                    {% if directors.number == l %}
                        <li class="page-active"><span>{{ l }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if directors.has_next %}
                <li class="next"><a href="?page={{ directors.next_page_number }}">Next Page</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- pagenate -->

</div>

{% endblock %}