<!-- 导演浏览界面 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
     
<div class="col-md-12 content-left">

    <div class="albums">
        <div class="categories">
            <div class="categories-left">
                <h1>导演信息</h1>
            </div>
            <div class="categories-right">
                <form action="/director_search/" method="post">
                    {% csrf_token %}
                    <input type="text" required name="search" placeholder="输入搜索关键字(导演姓名/国籍)">
                    <input type="submit" value="   搜 索   "/>
                </form>
            </div>
        </div>
    </div>

    {% for director in directors %}
        <div class="artical">
            <div class="col-md-4 artical-left">
                <a href="{% url 'director' director.id %}"><img src="{{ MEDIA_URL }}{{ director.image_link }}" title="post-name"/></a>
            </div>
            <div class="col-md-8 artical-right">
                <div class="artical-head">
                    <h2>&nbsp;&nbsp;<a href="{% url 'director' director.id %}">{{ director.name }}</a></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="artical-info">
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;性别:</strong> {{ director.gender }}</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;出生日期:</strong> {{ director.birthday }}</p>
                    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;国籍:</strong>{{ director.nationality }}</p>
                </div>
            </div>    
        </div>
    {% endfor %}
        
    <div class="clearfix"></div>
    
    <div class="pagenate">
        <ul>
            {% for l in  directors.paginator.page_range %}
                {% if l <= directors.number|add:5 and l >= directors.number|add:-5 %}
                    {% if directors.number == l %}
                        <li class="page-active"><span>{{ l }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if directors.has_next %}
                <li class="next"><a href="?page={{ directors.next_page_number }}">下一页</a></li>
            {% endif %}
        </ul>
    </div>

</div>

{% endblock %}