{% extends 'base.html' %}
{% load grav_tag %}
{% block content %}
    <div class="col-md-8 content-left" style="width: 100%;">
        <!-- artical-single-page -->
        <div class="artical-details">
            <h2>{{ movie.name }} </h2>
            <!-- artical-details-info -->
            <div class="artical-details-info">
                <div class="artical-details-info-left">
                    <a href="#"><img src="{{ MEDIA_URL }}{{ movie.image_link }}" title="name"/></a>
                </div>
                <div class="artical-details-info-right">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>标签:</strong> {% for tag in movie.tags.all %}
                                <a href="">{{ tag.name }}</a>
                            {% endfor %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>发布时间:</strong> {{ movie.years }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>上映国家:</strong> {{ movie.country }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>导演:</strong> {{ movie.director }}</p>
                        </div>
                    </div>

                    <!-- 以下是我新加的部分 -->
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>电影时长:</strong> {{ movie.duration }} minutes</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>语言:</strong> {{ movie.language }}</p>
                        </div>
                    </div>
                    <p><strong>上映状态:</strong>{{ movie.state }}</p>
                    <p><strong>公司:</strong>{{ movie.company.name }}</p>
                    <!-- 以上是我新加的部分 -->

                    <p><strong>演员:</strong> {{ movie.leader | slice:50 }}...
                    <p><strong>剧情概述: </strong>{{ movie.intro | slice:240 }}...</p>                 
                    <p><strong>喜欢数量：{{ movie.collect.count }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if is_collect %}
                            <a class="button" style="padding: 5px 10px; margin-left: 10px; background-color: grey; color: white;border: 1px solid;" href="{% url 'decollect' movie.id %}">取消喜欢</a>
                        {% else %}
                            <a class="button" style="padding: 5px 10px; margin-left: 10px; background-color: grey; color: white;border: 1px solid;" href="{% url 'collect' movie.id %}">加入喜欢</a>{% endif %}
                        {#                        <button>收藏</button>#}
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <strong>豆瓣评分：{{ movie.d_rate }}</strong>&nbsp;&nbsp;&nbsp
                            </p>
                        </div>
                     
                    </div>
                   
                </div>
                <div class="clearfix"></div>
              
                <br><br><br>
            <div>
                <div>
                    {% if user_rate is not None %}
                        <h2 style="margin: 0; padding: 0; display: block; font-size: 1.2em; text-transform: uppercase; font-weight: 700;color: grey;">您的评分: {{ user_rate.mark }}</h2>
                    {% else %}
                        <form action="{% url 'score' movie.id %}" method="post">
                            {% csrf_token %}
                            <strong class="d-inline-block" style="margin-bottom: 0; box-sizing: border-box; margin-right: 20px">
                                <h2>添加评分：</h2>
                                <select name="score" class="custom-select" style="width: auto；margin-bottom: 20px;margin-top: 20px;display: block;">
                                    <option>1.0</option>
                                    <option>2.0</option>
                                    <option>3.0</option>
                                    <option>4.0</option>
                                    <option>5.0</option>
                                    <option>6.0</option>
                                    <option>7.0</option>
                                    <option>8.0</option>
                                    <option>9.0</option>
                                    <option>10.0</option>
                                </select>
                            </strong>
                            <input type="submit"  class="button" id="submit" style="background-color: #c5c5c5;width: 2cm;display: block;" value="提交"/>
                            <!-- <button type="submit" class="download" style="width: 120px;display: block;">提交</button> -->
                        </form>
                    {% endif %}
                </div>
            </div>
                <div class="comment">
                    <div lang="en-US" class="gitment-container gitment-editor-container">
                        <form role="form" class="" action="{% url 'comment' movie.id %}" method="post">
                            <div class="gitment-editor-main">
                                <div class="gitment-editor-header" style="margin-top: 20px;">
                                    <h2>您的影片评论：</h2>
                                    <br>
                                </div>
                                {% csrf_token %}
                                <div class="gitment-editor-body">
                                    <textarea class="text_area" rows="3" cols="80" name="comment" id="comment" tabindex="4" placeholder="请输入评论"></textarea>
                                </div>
                            </div>
                            <div class="gitment-editor-footer">
                                <br><input type="submit" name="submit" class="button" id="submit" style="background-color: #c5c5c5;width: 2cm;" value="发送"/>
                            </div>
                        </form>
                    </div>

                    <div lang="en-US" class="gitment-container gitment-comments-container">
                        <p>----------------------------------------------------------------------------------------------------------</p>
                        <div class="gitment-editor-header">
                            <h2>其他影片评论：</h2>
                            <br>
                        </div>
                        <div class="gitment-comments-list">
                            {% for i in comments %}
                                <li class="gitment-comment">
                                    <a class="gitment-comment-avatar">
                                        <img class="gitment-comment-avatar-img img-circle" src='{{ request.user.email|gravatar:"50" }}'>
                                        <span class="gitment-comment-name"> {{ i.user.username }} 发布于 </span><span>{{ i.create_time }} </span>
                                    </a>
                                    <br>
                                    <div class="gitment-comment-body gitment-markdown"><p>{{ i.content }} </p></div>
                                </li>
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>
            <!-- artical-details-info -->
        </div>
        <!-- related-articals -->
        <!-- related-articals -->
        <!-- artical-single-page -->
        <div class="clearfix"></div>
    </div>
{% endblock %}


{% block js %}
    <script>
        var item_app = new Vue({
            el: '#item_app',
            data: {
                movies: [],
                name: 'item_app',
            },
            created() {
                this.get_item_recommend();
            },
            updated() {
                this.load_css();
            },
            methods: {
                get_item_recommend: function () {
                    if ("{{ request.session.user_id }}" === "") {
                    }
                    axios.get('/api/item_recommend/{{ request.session.user_id}}').then(function (res) {
                        item_app.movies = res.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                load_css: function () {
                    $("#owl-demo1").owlCarousel({
                        items: 3,
                        lazyLoad: true,
                        autoPlay: true,
                        navigation: true,
                        navigationText: false,
                        pagination: true,
                    });
                }

            }
        });
    </script>
{% endblock %}
